---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<html>
<link rel="icon" type="image/png" href="src/assets/brandon.webp" />
    <title>Brandon Caldarella</title>

<BaseLayout>


</BaseLayout>
</html>