---
import "../styles/global.css";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    title: "Gazetteer App",
    description: "Gazetteer App is an interactive map-based application that lets users explore countries, cities, and landmarks. It displays real-time weather, local news, and custom markers through a responsive interface. Built with JavaScript, Leaflet, AJAX, and PHP, it delivers a dynamic experience. The app integrates the OpenWeatherMap API and uses Bootstrap to ensure a modern and fully responsive design",
    imgDefault: "src/assets/gazzetter.webp", 
    githubLink: "https://github.com/bmcaldarella/BrandonCaldarella/tree/main/project1/gazetteer",
    liveLink: "https://www.brandonmcaldarella.com",
    technologies: ["JS", "Leaflet", "Ajax", "PHP", "OpenWeatherMap API", "Bootstrap"],
    icon:"🗺️"
  },
  {
    title: "Company Directory",
    description: "Company Directory is a full-stack web app for managing employees, departments, and locations. It enables users to perform CRUD operations through an intuitive, responsive interface accessible on both desktop and mobile. Built with JavaScript, PHP, AJAX, and Bootstrap, it offers a clean user experience and efficient data handling.",
    imgDefault: "src/assets/project2.webp", 
    githubLink: "https://github.com/bmcaldarella/BrandonCaldarella/tree/main/companydirectory",
    liveLink: "https://www.brandonmcaldarella.com",
    technologies: ["JS", "Ajax", "PHP", "Bootstrap"],
    icon:"📁"
  }
];
---

<section id="portfolio" class="portfolio-section container py-5">
  <h2 class="text-center fw-bold mb-4">My Projects</h2>
  <div class="row g-4 justify-content-center">
    {projects.map((project) => (
      <ProjectCard {...project} />
    ))}
  </div>
</section>
